.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #E16539;
  /* padding: 20px; */
  text-align: center;
  box-sizing: border-box;
  flex: 0.5;
}
.headtext {
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: bold;
  margin-top: 10px;
}

.section {
  display: flex;
  flex: 6   ;
  width: 100%;
  overflow: hidden;
  background-color: #D27C2C;
}

.footer {
  background-color: #777;
  /* padding: 20px; */
  text-align: center;
  color: white;
  box-sizing: border-box;
  flex: 0.5;
}

/* Navigation styles */
.nav {
  width: 15%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;

}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Article styles */
.article {
  width: 85%;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
.sidemenubtn {
  padding: 10px;
  background-color: #dbbeb4;
  border: none;
  cursor: pointer;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: center;
}
.input {
  padding: 10px;
  border-width: 1px;
  cursor: text;
  width: 40%;
  font-family: Inter;
  border-radius: 5px;
  text-align: center;
}
.input:focus {
  border-color: #f1f1f1;
}
.Searchbut {
  padding: 10px;
  background-color: #E16539;
  opacity: 0.8;
  cursor: pointer;
  width: 10%;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
}
.Clearbut {
  padding: 10px;
  background-color: #dbbeb4;
  opacity: 0.8;
  cursor: pointer;
  width: 10%;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .screen {
    flex-direction: column;
  }

  .nav {
    width: 35%;
  }

  .article {
    width: 65%;
  }
}